<form action="/landmarks/<%=@landmark.id%>" method="POST">
<input type="hidden" name="_method" value="patch">
  <h3>Edit a Landmark</h3>

  <label>Landmark</label>
  <label>Name:</label><input type="text" id="name" name="landmark[name]" value ="<%=@landmark.name%>"><br>
  <label>Year Completed:</label> <input type="text" id="year_completed" name="landmark[year_completed]" value ="<%=@landmark.year_completed%>"><br>


  <br><input type = "submit" value="Edit Landmark"><br>

</form>
